.get-started {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #453f3f;
	color: white;
}

.i-bg-gray {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #453f3f;
}

.premium-price {
	color: white;
	.price-label {
		@apply bg-blue border-blue;
	}
	.price {
		@apply text-green;
	}
}

.solar {
	position: relative;
	transform-style: preserve-3d;
	// perspective: "50rem";
	&:before {
		position: absolute;
		border-radius: 50%;
		transform: translate(-50%, -50%);
		content: "";
		height: 30px;
		width: 30px;
		background-color: red;
		transform: rotateX(-50deg);
		display: inline-block;
	}
}
