.get-started {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #453f3f;
	color: white;
}

.i-bg-gray {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #453f3f;
}

.premium-price {
	color: white;
	.price {
		@apply text-[#12EBCA];
	}
}
